/* Archivo de variables globales: colores, fuentes, tamaños reutilizables en todo el proyecto
 paleta de colores */
$color-header: #222;
$color-texto: #fff;
$color-hover: #f14849;
$color-titulo: #222;
